header {
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  padding: 1rem;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 80vw;
}

header h1 {
  text-align: center;
  margin: 0;
}

header h1 span {
  color: rgb(236, 47, 47);
}

nav ul {
  display: flex;
  list-style: none;
  gap: 16px;
  margin: 0;
  padding: 0;
}
