header {
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  padding: 1rem;
  z-index: 1;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 80vw;
}

header h1 {
  text-align: center;
  margin: 0;
}

header h1 span {
  color: rgb(236, 47, 47);
}

nav a.active {
  font-weight: bold;
  pointer-events: none;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 21px;
  margin: 0;
  padding: 0;
}

nav .theme-switch {
  padding: 1px;
  border-radius: 1.5rem;
  background-color: rgb(253 186 116 / 1);
}

nav .theme-switch button {
  background-color: transparent;
  cursor: pointer;
  border-radius: 1.5rem;
  padding: 0.5rem;
  outline: none;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

nav .theme-switch button.bg-white {
  background-color: rgb(255 255 255 / 1);
  color: rgb(0 0 0 / 1);
}

.dark nav .theme-switch {
  background-color: rgb(82 82 91 / 1);
}

.dark header button,
.dark header a {
  color: #e5e7eb;
}

.dark header {
  background-color: #2b3035;
}

/* VISIBILIDAD COMPONENTES */

.hamburger{
  display: none;
}

.mobile-menu{
  display: none;
}

@media (max-width: 425px) {

  .content-wrap{
    overflow-x: hidden;
  }

  header .container {
    max-width: 100vw;
    justify-content: space-between;
  }
  
  .desktop-nav {
    display: none;
  }

  .theme-switch{
    width: 59px;
  }

  .hamburger{
    display: block;
    margin-right: 12px;
  }

  header h1 {
    width: 100%;
    font-size: 1.8rem;
  }

  .mobile-menu:hover{
    transform: translateX(-290px);
    transition: all 0.4s ease-in-out;
  }

  .mobile-menu{
    z-index: 2;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 60vw;
    height: 100%;
    padding: 1.3rem 1rem;
    background-color: #2b3035ee;
  }

  .mobile-menu ul{
    display: flex;
    flex-direction: column;
    align-items: left;
    list-style: none;
    gap: 21px;
    margin: 0;
    padding: 0;
  }

  .mobile-menu a{
    color: #e5e7eb;
  }
  .mobile-nav ::after{
    display: block;
    content: "";
    box-sizing: border-box;
    height: 1px;
    width: 300px;
    background-color: rgb(82 82 91 / 1);
    width: 80%;
    margin-top: 1rem;
  }

  .mobile-menu a.active{
    font-weight: bold;
    pointer-events: none;
  }
  .close-hamburger{
    margin-bottom: 3rem;
  }
  
}