header {
  background-color: #cfcfcf;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  padding: 1rem;
  z-index: 1;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 80vw;
}

header h1 {
  text-align: center;
  margin: 0;
}

header h1 span {
  color: rgb(200, 0, 0);
}

.dark header h1 span {
  color: rgb(236, 47, 47);
}

nav a {
  padding-block: 5px;
}

nav a.active {
  font-weight: bold;
  pointer-events: none;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 21px;
  margin: 0;
  padding: 0;
}

nav .theme-switch {
  padding: 1px;
  border-radius: 1.5rem;
  background-color: rgb(253 186 116 / 1);
}

nav .theme-switch button {
  background-color: transparent;
  cursor: pointer;
  border-radius: 1.5rem;
  padding: 0.5rem;
  outline: none;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

nav .theme-switch button.bg-white {
  background-color: rgb(255 255 255 / 1);
  color: rgb(0 0 0 / 1);
}

.dark nav .theme-switch {
  background-color: rgb(82 82 91 / 1);
}

.dark header button,
.dark header a {
  color: #e5e7eb;
}

.dark header {
  background-color: #2b3035;
}
